@import "https://fonts.cdnfonts.com/css/fira-code-2";
@import "@vscode/codicons/dist/codicon.css";

html,
body,
#root {
  background-color: #252526;
  margin: 0;
  padding: 0;
  font-size: 13px;
  color: #cccccc;
  font-family: "Segoe WPC", "Segoe UI", -apple-system, BlinkMacSystemFont,
    system-ui, "Ubuntu", "Droid Sans", sans-serif;
}

body {
  line-height: 22px;
}

#root {
  height: 100vh;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-weight: normal;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin-bottom: 0.2em;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  margin-bottom: 0.7em;
}

ul,
ol {
  margin-bottom: 0.7em;
}

hr {
  border: 0;
  height: 1px;
  border-bottom: 1px solid;
}

h1 {
  padding-bottom: 0.3em;
  line-height: 1.2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  margin-bottom: 0.7em;
}

th {
  text-align: left;
  border-bottom: 1px solid;
}

th,
td {
  padding: 5px 10px;
}

table > tbody > tr + tr > td {
  border-top: 1px solid;
}

blockquote {
  margin: 0 7px 0 5px;
  padding: 0 16px 0 10px;
  border-left-width: 5px;
  border-left-style: solid;
}

th {
  border-color: rgba(255, 255, 255, 0.69);
}

h1,
hr,
td {
  border-color: rgba(255, 255, 255, 0.18);
}

#header {
  padding: 5px 0 0;
  border: none;
  font-size: 2.7em;
}
